<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post list</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
</head>
<body>
    <h1>Post list</h1>

    <hr>

    {% if current_user.is_authenticated %}
        <p>Hi, {{current_user.username}}!</p>
        <a href="/logout-user">Logout</a><br>
    {% endif %}
    {% if current_user.is_admin %}
        <a href="/create-post">Create post</a><br>
    {% endif %}
    {% if not current_user.is_authenticated %}
        <a href="/registration-form">Register</a><br>
        <a href="/login-form">Login</a>
    {% endif %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
                (<i>{{ post.date }}</i>)
                {% if current_user.is_admin %}
                    <a href="/post-editor/{{ post.id }}">edit</a>
                    <a href="/delete-post/{{ post.id }}">delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script>
        if("{{alert_message}}".length > 0){
            alert("{{alert_message}}")
        }
    </script>
</body>
</html>