<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post creation</title>
</head>
<body>
    <h1>Post creation</h1>
    <form action="/add-post" method="post">
        <label for="title">Post title:</label>
        <input name="title" type="text" value="Test post title"><br>

        <label for="date">Post date:</label>
        <input name="date" type="date" value="2025-02-20"><br>

        <label for="content">Post content:</label><br>
        <textarea name="content">Test post content.</textarea><br>

        <button type="submit">Create post</button>
    </form>
</body>
</html>