<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post list</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
</head>
<body>
    <h1>Post list</h1>

    <hr>

    <a href="/create-post">Create post</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
                (<i>{{ post.date }}</i>)
                <a href="/post-editor/{{ post.id }}">edit</a>
                <a href="/delete-post/{{ post.id }}">delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>