<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
</head>
<body>
    <h1>Register</h1>

    <hr>
    
    <form action="/register-user" method="post">
        <label for="username">Username: </label>
        <input name="username" type="text" minlength="4" maxlength="32"><br>

        <label for="password">Password:</label>
        <input name="password" type="password" minlength="8", maxlength="32"><br>

        <button type="submit">Register</button>
    </form>
    
    <script>
        if("{{alert_message}}".length > 0){
            alert("{{alert_message}}")
        }
    </script>
</body>
</html>